{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Registro.css') }}">

    {% block title %}Registro{% endblock %}
</head>
<body>
    {% block content %}
    <div class="container">
        <h2>Registro de Contactos</h2>
        <form method="POST" >
            <label class="label-form" for ="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required>

            <label for="email" class="label-form">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="telefono" class="label-form">Teléfono:</label>
            <input type="tel" id="telefono" name="telefono">

            <button type="submit">Registrar</button>
        </form>
        {% if message %}
        <p>{{ message }}</p>
        {% endif %}
    </div>
    {% endblock %}
    
</body>
</html>